[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "Nmisc"]
	path = Nmisc
	url = https://github.com/numeract/nmisc
	shallow = true
	registered = true
